In [ ]:
from datascience import *
import numpy as np

## Arrays

In [ ]:
my_array = make_array(1, 2, 3, 4)

In [ ]:
my_array

In [ ]:
len(my_array)

In [ ]:
sum(my_array)

In [ ]:
sum(my_array) / len(my_array)

In [ ]:
np.average(my_array)

In [ ]:
another = make_array(70, 60, 90, 80)

In [ ]:
my_array + another

In [ ]:
yet_another = make_array(5, 6, 7)

In [ ]:
my_array + yet_another

In [ ]:
tunas = make_array('bluefin', 'albacore', 'jim')
tunas

In [ ]:
tunas * 4

In [ ]:
tunas.item(0) # NOTE: indexing starts at 0!

In [ ]:
tunas.item(2)

In [ ]:
tunas.item(3)

## Columns of Tables are Arrays ##

In [ ]:
nba = Table.read_table('nba_salaries.csv').relabeled(4, 'SALARY').relabeled(3, 'TEAM')
warriors = nba.where('TEAM', 'Golden State Warriors')

In [ ]:
warriors

In [ ]:
warriors.select('SALARY')

In [ ]:
warriors.column('SALARY')

In [ ]:
np.average(warriors.column('SALARY'))

In [ ]:
raptors = nba.where('TEAM', 'Boston Celtics')

In [ ]:
np.average(warriors.column('SALARY')) - np.average(raptors.column('SALARY'))

## Ranges ##

In [ ]:
make_array(0, 1, 2, 3, 4, 5, 6)

In [ ]:
np.arange(7)

In [ ]:
np.arange(5, 11)

In [ ]:
np.arange(0, 20, 2)

In [ ]:
np.arange(0, 21, 2)

In [ ]:
np.arange(0, 1, 0.1)

# Ways to Create a Table #

## Creating a Table from Scratch ##

In [ ]:
streets = make_array('Bancroft', 'Durant', 'Channing', 'Haste')
streets

In [ ]:
Table()

In [ ]:
southside = Table().with_column('Streets', streets)
southside

In [ ]:
southside.with_column('Blocks from campus', np.arange(4))

In [ ]:
southside

In [ ]:
southside = southside.with_column('Blocks from campus', np.arange(4))
southside

In [ ]:
Table().with_columns(
    'Streets', streets,
    'Blocks from campus', np.arange(4)
)

## Reading a Table from a File  ##

In [ ]:
du_bois = Table.read_table('du_bois.csv')
du_bois

In [ ]:
du_bois.column('ACTUAL AVERAGE')

In [ ]:
du_bois.column('FOOD')

In [ ]:
du_bois.column('ACTUAL AVERAGE') * du_bois.column('FOOD')

In [ ]:
food_dollars = du_bois.column('ACTUAL AVERAGE') * du_bois.column('FOOD')
du_bois.with_columns('Food $', food_dollars)

In [ ]:
du_bois.select('CLASS', 'ACTUAL AVERAGE', 'FOOD', 'Food $')

In [ ]:
food_dollars = du_bois.column('ACTUAL AVERAGE') * du_bois.column('FOOD')

du_bois = du_bois.with_columns('Food $', food_dollars)

du_bois

In [ ]:
du_bois.select('CLASS', 'ACTUAL AVERAGE', 'FOOD', 'Food $')

In [ ]:
du_bois.labels

In [ ]:
du_bois.num_rows

In [ ]:
du_bois.num_columns